<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bicycles</title>
    <style>
        input{
            display: block;
        }
    </style>
</head>
<body>
<form>

</form>

<h2>Bicycle</h2>
<form action="#" th:action="@{api/bicycles}" th:object="${createForm}" method="post">
    <label>Brand</label>
    <input type="text" th:field="*{brand}" required>
    <label>Model</label>
    <input type="text" th:field="*{model}" required>
    <label>Equipment</label>
    <input type="text" th:field="*{equipment}" required>
    <label>Wheel Diameter</label>
    <input type="number" th:field="*{wheelDiameter}" required oninput="this.value = Math.abs(this.value)">
    <label>Price</label>
    <input type="number" th:field="*{price}" required oninput="this.value = Math.abs(this.value)">
    <button type="submit">Create</button>
</form>
<form action="/menu">
    <input type="submit" value="Return">
</form>
</body>
</html>